<div class="jumbotron">
  
 <!-- <h2 ng-repeat="Detail in Details">{{Detail.Name}}</h2> -->
  
  <div class="row">
  
 	 <div class="col-md-4">
    	  <h3>Coordinators</h3>
     </div> 

  <div class="col-md-8">
      <span> 
      
      <h5>Filter By Priority</h5> 
      </span>
      <span>
      <button type="button" class="btn btn-" data-toggle="button">Show Topper</button>
      <button type="button" class="btn btn-" data-toggle="button">High</button>
      <button type="button" class="btn btn-" data-toggle="button">Medium</button>
      <button type="button" class="btn btn-" data-toggle="button">Low</button>
      
     </span>
  
   </div>
 </div>


<!-- TO DISPLAY COLLABORATOR -->
			
			
			<div class="row" >
			 	 <div class="col-md-4">
			 	   <table class="table table-bordered">
					   <tr ng-repeat="Detail in Details">
					   <td>{{Detail.Coordinators}}</td>	   		
					   </tr>
				   </table>
			     </div>
					  
					  
			     <div class="col-md-8">
					<table>
					   <tr>
					   <td></td>
					   </tr>
				    </table>
			     </div> 
			</div>
	
</div>
